body {
  font-family: "Times New Roman";
  background-color: lightblue;
}

h1,h2 {
  text-align: center;
}



span.publishedNoteBody {
  text-indent: 50px;
}

.publishedTag {
  text-indent: 50px;
  color: blue
}